<ul class="ver-inline-menu tabbable margin-bottom-10">

    <li class="@ViewBag.InsuranceDeposit">

        <a data-toggle="tab" href="" ng-click="InsuranceDepositClick()">
            <i class="fa fa-info"></i>Insurance Deposit
        </a>
        <span class="after"></span>
    </li>
  
    <li class="@ViewBag.AutoLoanSetup">
        <a data-toggle="tab" href="" ng-click="AutoLoanSetupClick()">
            <i class="fa fa-medkit"></i>Auto Loan Setup
        </a>
    </li>

    <li class="@ViewBag.AccountReceivable">
        <a data-toggle="tab" href="" ng-click="AccountReceivableClick()">
            <i class="fa fa-group"></i>Account Receivable
        </a>
    </li>
    <li class="@ViewBag.SavingDeposit">
        <a data-toggle="tab" href="" ng-click="SavingDepositClick()">
            <i class="fa fa-bullhorn"></i>Saving Deposit
        </a>
    </li>
    @*<li class="@ViewBag.AccountSummary">
        <a data-toggle="tab" href="" ng-click="AccountSummaryClick()">
            <i class="fa fa-leaf"></i>Account Summary
        </a>
    </li>*@
</ul>

